.article1{
  display:flex;
  flex-direction: row;
  text-align: center;
}
.article1description{
  display:flex;
  flex-direction: column;
  color:purple;
  text-align: left;
}


body{
  background-color: #fc9f47;
  }
  .userstuff{
    border: 35px;
    margin:50px;

    background-color: white;
    text-align: right;
    color:gray;
  }
  .comment{
    color:purple;

    background-color:orange;
    padding:35px;
  }
  .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
